* {
    font-family: "Roboto", sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Condensed", sans-serif
}


.name {
    color:white;
    font-family: "Roboto Condensed", sans-serif;
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
    line-height: normal;
    margin-bottom: 0;
}

.ocupation {
    color:white;
    font-family: "Roboto", sans-serif;
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
    font-weight: 100;
    margin-top: 0;
}

.condensed {
    font-family: "Roboto Condensed", sans-serif
}
